---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { href } = Astro.props

const { pathname } = Astro.url
const subpath = pathname.match(/[^\/]+/g)
const isActive = href === pathname || href === '/' + subpath?.[0]
---

<a href={href} class:list={['hover:text-gray-300', { 'border-b': isActive }]}>
  <slot />
</a>
