---
import HeaderLink from './HeaderLink.astro'
import { SITE_TITLE } from '../consts'
---

<header class="bg-gray-800 text-white py-4">
  <div class="container mx-auto flex justify-between items-center">
    <h1 class="text-2xl font-bold"><a href="/">{SITE_TITLE}</a></h1>
    <nav>
      <ul class="flex space-x-4">
        <li><HeaderLink href="/">Home</HeaderLink></li>
      </ul>
    </nav>
  </div>
</header>
